<ion-header>
  <ion-toolbar>
    <ion-title>CoinInfo</ion-title>
    <ion-button routerLink="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterArray($event)"></ion-searchbar>
    <ion-card *ngFor="let item of coinArray">
      <ion-card-content>
        
        <ion-card-title>{{item?.FullName}}</ion-card-title>
        <!--<p>{{coin?.CoinInfo.Name}} {{getPrice(coin?.RAW) | number : '1.2-2'}}{{cySymbol}}</p>-->
      </ion-card-content>
    </ion-card>
</ion-content>
