<ion-header>
  <ion-toolbar>
    <ion-title>CoinInfo</ion-title>
    <ion-button routerLink="/home">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
    <ion-card *ngFor="let coin of coinArray | filter: searchText">
      <ion-card-content>
        
        <ion-card-title>{{coin?.FullName}}</ion-card-title>
        <!--<p>{{coin?.CoinInfo.Name}} {{getPrice(coin?.RAW) | number : '1.2-2'}}{{cySymbol}}</p>-->
      </ion-card-content>
    </ion-card>
</ion-content>
